// palette
$primary-color: #2C3455;
$secondary-color :rgb(50, 60, 92);
$tertiary-color:#4773d3;
// shadows
$main-shadow:rgba(0, 0, 0, 0.15); 
// button config
.button {
   padding: 10px;
   border-radius: 10px; 
}

// elemet defaults
a { text-decoration: none; }

/// dark mode
$p1: #1C1C28;
$p2 :#28293D;
$p3: #202133;
$p4: #45477D;
$p5: #6D71C4;
// graph color
$graph-color2: #D4D4E1;